:root {
    --font-family: "Nunito Sans", sans-serif;
    --btn-busy-color: #FFFFFF;
    --btn-primary-disabled-bg-color: rgba(115, 92, 254, 0.25);
    --btn-primary-disabled-color: #FFFFFF;
    --btn-primary-enabled-bg-color: #735CFE;
    --btn-primary-enabled-color: #FFFFFF;
    --content-color: #313C59;
    --disabled-content-color: rgba(49, 60, 89, 0.18);

    /* Required to be present in the project using the components */
    --white-color: #FFFFFF;
    --black-color: #000000;

    --grey-color: #606c8b;
    --grey-dark-color: #313c59;
    --grey-light-color: #bcbfc6;

    --violet-color: #E339FF;
    --red-color: #ff5f5f;
    --red-light-color: rgba(255, 203, 203, 0.47);
    --green-color: #21BE98;
    --green-light-color: #CBFFE3;
    --yellow-light-color: #ffe871;

    /* Project specific theme colors */
    --primary-color: #735CFE;
    --primary-light-color: #C7D3FF;
}

html {
    overflow-y: scroll;
}

body,
html {
    height: 100%;
}

#app {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafcfe;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.inactive {
    opacity: 0.2;
}

.bold {
    font-weight: bold;
}
